*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#fff;
    color:#222;
}


/* HEADER */
header{
    background:#111;
    color:#fff;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:100;
}

nav a{
    color:#fff;
    margin-left:20px;
    text-decoration:none;
}

nav a:hover{
    text-decoration:underline;
}


/* HOME */
.home{
    height:95vh;
    background:#1b1b1b;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:20px;
}

.typing{
    font-size:40px;
    color:#1aff00;
    font-weight:bold;
}

.home p{
    margin-top:20px;
    font-size:20px;
    width:60%;
}

.scrollButton{
    margin-top:30px;
    padding:15px 50px;
    border:none;
    background:#1aff00;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

.scrollButton:hover{
    background:#16cc00;
}


/* SOBRE */
#sobre{
    padding:70px 60px;
}

.title{
    font-size:32px;
    color:#16cc00;
    margin-bottom:40px;
    text-align:center;
}

.sobre-container{
    display:flex;
    gap:40px;
    align-items:center;
}

.texto-sobre p{
    margin-bottom:10px;
}

.textoMais{
    display:none;
}

.btnSobre{
    margin-top:15px;
    background:#16cc00;
    border:none;
    padding:10px 25px;
    color:white;
    cursor:pointer;
}


/* PROJETOS */
#projetos{
    padding:70px 60px;
    background:#f8f8f8;
}

.projetos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
}

.card{
    padding:25px;
    background:white;
    border:2px solid #16cc00;
    border-radius:8px;
    text-align:center;
}

.card h3{
    color:#16cc00;
}

.card a{
    margin-top:10px;
    display:inline-block;
    padding:8px 15px;
    background:#16cc00;
    color:white;
    border-radius:5px;
    text-decoration:none;
}

.card:hover{
    transform:scale(1.05);
    transition:.2s;
}


/* CONTATO */
#contato{
    padding:70px 60px;
}

input,textarea{
    width:60%;
    padding:12px;
    margin-bottom:15px;
    resize:none;
    border:2px solid #16cc00;
    border-radius:5px;
}

button{
    background:#16cc00;
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
}

button:hover{
    background:#129900;
}

.confirmacao{
    margin-top:20px;
    font-size:20px;
    color:#129900;
    font-weight:bold;
}


/* FOOTER */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
